body {
  font-family: 'Poppins', sans-serif;
}
#heroCarousel {
  height: 500px; 
  overflow: hidden;
  border-radius: 20px;
}

#heroCarousel .carousel-inner,
#heroCarousel .carousel-item,
#heroCarousel .carousel-item img {
  height: 100%;
}

#heroCarousel .carousel-item img {
  width: 100%;
  object-fit: cover; 
}

.chef-img {
  width: 100%;
  height: 100%;           
  max-height: 500px;    
  object-fit: cover;    
  border-radius: 50%;    
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.navbar-brand span {
  font-weight: bold;
}

.chef-img {
  width: 250px;
  transition: transform 0.3s;
}

.chef-img:hover {
  transform: scale(1.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.gallery-card {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s;
}

.gallery-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
  .gallery-card {
    height: 200px; 
  }
}
